<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="LanguageReader" switchValue="All">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>

      <source name="RootLexiconReader" switchValue="Off">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>

      <source name="SuffixLexiconReader" switchValue="All">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>

      <source name="MorphotacticsReader" switchValue="All">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>

      <source name="Orthography" switchValue="All">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>

      <source name="Vertex" switchValue="All">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>

      <source name="DictionaryGraph" switchValue="All">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>

      <source name="WordAnalyzer" switchValue="All">
        <listeners>
          <clear />
          <add name="myListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>